.vscode/arduino.json
.vscode/c_cpp_properties.json
DigitalTach/build/build.options.json
DigitalTach/build/includes.cache
DigitalTach/build/core/abi.cpp.d
DigitalTach/build/core/abi.cpp.o
DigitalTach/build/core/CDC.cpp.d
DigitalTach/build/core/CDC.cpp.o
DigitalTach/build/core/core.a
DigitalTach/build/core/HardwareSerial.cpp.d
DigitalTach/build/core/HardwareSerial.cpp.o
DigitalTach/build/core/HardwareSerial0.cpp.d
DigitalTach/build/core/HardwareSerial0.cpp.o
DigitalTach/build/core/HardwareSerial1.cpp.d
DigitalTach/build/core/HardwareSerial1.cpp.o
DigitalTach/build/core/HardwareSerial2.cpp.d
DigitalTach/build/core/HardwareSerial2.cpp.o
DigitalTach/build/core/HardwareSerial3.cpp.d
DigitalTach/build/core/HardwareSerial3.cpp.o
DigitalTach/build/core/hooks.c.d
DigitalTach/build/core/hooks.c.o
DigitalTach/build/core/IPAddress.cpp.d
DigitalTach/build/core/IPAddress.cpp.o
DigitalTach/build/core/main.cpp.d
DigitalTach/build/core/main.cpp.o
DigitalTach/build/core/new.cpp.d
DigitalTach/build/core/new.cpp.o
DigitalTach/build/core/PluggableUSB.cpp.d
DigitalTach/build/core/PluggableUSB.cpp.o
DigitalTach/build/core/Print.cpp.d
DigitalTach/build/core/Print.cpp.o
DigitalTach/build/core/Stream.cpp.d
DigitalTach/build/core/Stream.cpp.o
DigitalTach/build/core/Tone.cpp.d
DigitalTach/build/core/Tone.cpp.o
DigitalTach/build/core/USBCore.cpp.d
DigitalTach/build/core/USBCore.cpp.o
DigitalTach/build/core/WInterrupts.c.d
DigitalTach/build/core/WInterrupts.c.o
DigitalTach/build/core/wiring_analog.c.d
DigitalTach/build/core/wiring_analog.c.o
DigitalTach/build/core/wiring_digital.c.d
DigitalTach/build/core/wiring_digital.c.o
DigitalTach/build/core/wiring_pulse.c.d
DigitalTach/build/core/wiring_pulse.c.o
DigitalTach/build/core/wiring_pulse.S.d
DigitalTach/build/core/wiring_pulse.S.o
DigitalTach/build/core/wiring_shift.c.d
DigitalTach/build/core/wiring_shift.c.o
DigitalTach/build/core/wiring.c.d
DigitalTach/build/core/wiring.c.o
DigitalTach/build/core/WMath.cpp.d
DigitalTach/build/core/WMath.cpp.o
DigitalTach/build/core/WString.cpp.d
DigitalTach/build/core/WString.cpp.o
DigitalTach/build/libraries/LedControl/LedControl.cpp.d
DigitalTach/build/libraries/LedControl/LedControl.cpp.o
DigitalTach/build/preproc/ctags_target_for_gcc_minus_e.cpp
DigitalTach/build/sketch/DigitalTach.ino.cpp
DigitalTach/build/sketch/DigitalTach.ino.cpp.d
DigitalTach/build/sketch/DigitalTach.ino.cpp.o
DigitalTach_1/DigitalTach_1.ino
libraries/readme.txt
libraries/LedControl/keywords.txt
libraries/LedControl/library.properties
libraries/LedControl/LICENSE
libraries/LedControl/examples/LCDemo7Segment/LCDemo7Segment.ino
libraries/LedControl/examples/LCDemoCascadedDevices/LCDemoCascadedDevices.ino
libraries/LedControl/examples/LCDemoMatrix/LCDemoMatrix.ino
libraries/LedControl/src/LedControl.cpp
libraries/LedControl/src/LedControl.h
sketch_oct10a/sketch_oct10a.ino
